[submodule "/home/borinskikh/dot-files/vim/pack/modules/start/nerdtree"]
	path = /home/borinskikh/dot-files/vim/pack/modules/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "/home/borinskikh/dot-files/vim/pack/modules/start/vim-pathogen"]
	path = /home/borinskikh/dot-files/vim/pack/modules/start/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "/home/borinskikh/dot-files/vim/pack/modules/start/supertab"]
	path = /home/borinskikh/dot-files/vim/pack/modules/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "/home/borinskikh/dot-files/vim/pack/modules/start/minibufexpl.vim"]
	path = /home/borinskikh/dot-files/vim/pack/modules/start/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "/home/borinskikh/dot-files/vim/pack/modules/start/vim-buffergator"]
	path = /home/borinskikh/dot-files/vim/pack/modules/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
