:root {
    /* custom variables */
    --accent-color: #c50ed2;
    --background-color: black;
    --text-color: white;
    --sidebar-min-width: 6px;
    --sidebar-hover-width: 300px;
    /* theme variables */
    --toolbar-bgcolor: var(--background-color) !important;
    --toolbar-color: var(--text-color) !important;
    --toolbar-field-focus-border-color: var(--accent-color) !important;
    --toolbarseparator-color: var(--accent-color) !important;
    --toolbar-field-color: var(--text-color) !important;
    --lwt-toolbar-field-background-color: var(--background-color) !important;
    --lwt-toolbar-field-focus: var(--background-color) !important;
    --toolbarbutton-hover-background: var(--accent-color) !important;
    --toolbarbutton-active-background: var(--accent-color) !important;
    --lwt-toolbarbutton-active-background: var(--background-color) !important;
    --lwt-toolbarbutton-hover-background: var(--accent-color) !important;
    --autocomplete-popup-highlight-background: var(--accent-color) !important;
    --autocomplete-popup-highlight-color: var(--text-color) !important;
    --toolbarbutton-icon-fill-attention: var(--text-color) !important;
    --lwt-toolbarbutton-icon-fill-attention: var(--accent-color) !important;
    --urlbar-separator-color: var(--background-color) !important;
    --tabs-border-color: var(--background-color) !important;
    --arrowpanel-background: var(--background-color) !important;
    --arrowpanel-color: var(--text-color) !important;
    --lwt-text-color: var(--text-color) !important;
    --urlbar-popup-url-color: var(--accent-color) !important;
    --autocomplete-popup-background: var(--background-color) !important;
    --autocomplete-popup-color: var(--text-color) !important;
}

/* color of the selected text */

::-moz-selection, ::selection {
    color: white !important;
    background: #c50ed2 !important;
}

/* stuff to hide */

#titlebar, #TabsToolbar, #sidebar-header, .sidebar-splitter, #back-button, #forward-button, #reload-button, #home-button {
    visibility: hidden !important;
    display: none !important
}

/* stuff to greyscale */

#nav-bar .toolbarbutton-icon, #tracking-protection-icon-animatable-image {
    filter: grayscale(100) !important;
}

/* nav-page buttons and menu buttons */

#identity-box:hover, #identity-box:active, #page-action-buttons *:hover, #page-action-buttons *:active, #nav-bar toolbarbutton:hover, #nav-bar toolbarbutton:active, .panel-subview-body toolbaritem:hover, .panel-subview-body toolbaritem:active, .panel-subview-body toolbarbutton:hover, .panel-subview-body toolbarbutton:active, #tracking-protection-icon-container:hover, #identity-box:hover {
    background-color: var(--accent-color) !important;
    border-radius: 2px !important;
    fill: white !important;
    fill-opacity: 1 !important;
    opacity: 1 !important;
    color: white !important;
}

/* url bar results */

.urlbarView-row-inner {
    fill-opacity: 1 !important;
    fill: var(--text-color) !important;
    border-radius: 0.5rem !important;
}

.urlbarView-row-inner:hover {
    background-color: var(--accent-color) !important;
}

.urlbarView-row:hover .urlbarView-url {
    color: var(--text-color) !important
}

/* moving down navigation bar since the tabs are collapsed */

#nav-bar {
    margin-top: 9px !important;
}

/* sidebar in non-active state */

#sidebar-box, #sidebar {
    position: relative;
    z-index: 1;
    min-width: var(--sidebar-min-width) !important;
    max-width: var(--sidebar-min-width) !important;
}

/* sidebar in focused state */

#sidebar-box[sidebarcommand="viewBookmarksSidebar"]>#sidebar, #sidebar-box[sidebarcommand="viewHistorySidebar"]>#sidebar, #sidebar-box:hover>#sidebar {
    min-width: var(--sidebar-hover-width) !important;
}

/* history and bookmarks sidebars' colors */

.sidebar-panel * {
    appearance: none !important;
    background-color: var(--background-color) !important;
    color: white !important;
}

/* context menus adjustments */

menupopup {
    -moz-appearance: none !important;
    background-color: var(--background-color) !important;
    border: 1px solid var(--accent-color) !important;
    border-radius: 1rem !important;
    padding: 8px !important;
}

menuitem, menulist, menugroup, menucaption, menu, tooltip {
    border-radius: 2px !important;
}

menuseparator {
    -moz-appearance: none !important;
    border: none !important;
    background-color: black !important;
}

menuitem, menu {
    -moz-appearance: none !important;
    color: white !important;
}

menuitem[disabled="true"], menuitem[disabled="true"]>.menu-text {
    color: gray !important;
}

menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"] {
    -moz-appearance: none !important;
    background-color: var(--accent-color) !important;
}

menugroup {
    background-color: transparent !important;
}

menuitem>.menu-text, menuitem>.menu-iconic-text {
    color: white !important;
}

menuitem[checked="true"][type="checkbox"]>.menu-iconic-left {
    border: solid var(--accent-color);
    transform: rotate(-45deg) scale(.75);
}

menuitem[checked="true"][type="radio"]>.menu-iconic-left {
    border: solid var(--accent-color);
    border-radius: 100%;
    background: var(--background-color);
    transform: scale(.5);
}

menucaption {
    background-color: transparent !important;
    color: white !important;
}

#ContentSelectDropdown>menupopup {
    background-image: none !important;
}

menulist {
    -moz-appearance: none !important;
    border: 1px solid var(--accent-color) !important;
    background-color: transparent !important;
}

menulist:hover {
    border: 1px solid var(--accent-color) !important;
    background-color: transparent !important;
}

menulist[open="true"] {
    border: 1px solid var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}

.menu-iconic-left {
    -moz-appearance: none !important;
}

.menu-right {
    -moz-appearance: none !important;
    color: white !important;
    border: solid var(--accent-color);
    transform: rotate(-45deg) scale(.55);
}

tooltip {
    -moz-appearance: none !important;
    color: var(--text-color) !important;
    background-color: var(--background-color) !important;
    border: 1px solid var(--accent-color) !important;
}

#bookmarks-menu-button .menu-right {
    -moz-appearance: unset !important;
    border-width: unset !important;
    border: unset !important;
    transform: none !important;
}