:root 
{
	--sidebar-width: 32px;
	--sidebar-hover-width: 300px;
}

#TabsToolbar, #sidebar-header, .sidebar-splitter, #back-button, #forward-button 
{ 
	visibility: collapse; 
}

#sidebar-box
{
	position: relative;
	z-index: 1;
	min-width: var(--sidebar-width);
	max-width: var(--sidebar-width);
}

#sidebar 
{
	min-width: var(--sidebar-width) !important;
	max-width: var(--sidebar-width);
	border-right: 1px solid #c50ed2;
}


#sidebar-box:hover > #sidebar
{ 
	min-width: var(--sidebar-hover-width) !important;
}
