
.browserContainer 
{
  background-color: #000000;
}

:root 
{
	--autocomplete-popup-highlight-background: purple;
	--sidebar-width: 30px;
	--sidebar-hover-width: 300px;
}

#TabsToolbar, #sidebar-header, .sidebar-splitter, #back-button, #forward-button 
{ 
	visibility: collapse; 
}

#urlbar
{
  border: 1px solid purple;
}

.toolbarbutton-text, .toolbarbutton-icon{
  color: white;
}

#sidebar-box
{
	position:	relative;
	z-index: 1;
	min-width: 0px;
	max-width: 0px;
}

#sidebar 
{
	min-width: var(--sidebar-width) !important;
	max-width: var(--sidebar-width);
}


#sidebar-box:hover > #sidebar
{ 
	min-width: var(--sidebar-hover-width) !important;
}

:root{
	--uc-autohide-toolbox-delay: 200ms;
}

@media (-moz-os-version: windows-win10){

  :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 9px !important; }
  :root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox{ margin-top: -1px }

  @media screen and (min-resolution: 1.25dppx){
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 8px !important; }
  }
  @media screen and (min-resolution: 1.5dppx){
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 8px !important; }
  }
  @media screen and (min-resolution: 2dppx){
    :root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box{ margin-top: 7px !important; }
  }
  #navigator-toolbox:not(:-moz-lwtheme){ background-color: rgb(32, 35, 64) !important; }
}

:root[sizemode="fullscreen"]{ margin-top: 0px !important; }

#navigator-toolbox{
  position: fixed !important;
  display: block;
  background-color: var(--lwt-accent-color,black) !important;
  transition: transform 82ms linear, opacity 82ms linear !important;
  transition-delay: var(--uc-autohide-toolbox-delay) !important;
  transform-origin: top;
  line-height: 0;
  z-index: 1;
  pointer-events: none;
}

#navigator-toolbox:-moz-any(:hover,:focus-within){ transition-delay: 33ms !important }

#navigator-toolbox > *{ line-height: normal; pointer-events: auto }

#navigator-toolbox,
#navigator-toolbox > *{
  width: 100vw;
  -moz-appearance: none !important;
}

#navigator-toolbox:not(:focus-within):not(:hover){
  transform: rotateX(86deg); /* This may need to be lower in osx - like 75 or so */
  opacity: 0;
}

:root[sizemode="maximized"] #navigator-toolbox:not(:focus-within):not(:hover){ transform: rotateX(89deg) }

/* Don't apply transform before window has been fully created */
:root:not([sessionrestored]) #navigator-toolbox{ transform:none !important }

:root[customizing] #navigator-toolbox{
  position: relative !important;
  transform: none !important;
  opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{ display: none }
