/* sideberry adjustments  */

@-moz-document url-prefix("moz-extension://e687cf7f-57c5-4ebe-92e7-eefea85d672a/") {
    #root {
        --bg: var(--background-color) !important;
        --inactive-fg: var(--foreground-color) !important;
        --active-fg: var(--accent-color) !important;
        --info-fg: var(--accent-color) !important;
        --favicons-placeholder-bg: var(--foreground-color) !important;
        --tabs-activated-bg: var(--accent-color) !important;
        --tabs-border: none;
        --tabs-height: 1rem !important;
    }
    /* tabs' container */
    .container>div {
        display: flex !important;
        flex-flow: column nowrap !important;
        justify-content: center !important;
        height: 100vh !important;
        padding-bottom: 3px !important;
    }
    .container>div>.Tab:first-of-type {
        box-shadow: 0 calc(var(--tabs-height) * -1) 0 0 var(--accent-color-2) !important;
    }
    .container>div>.Tab:last-of-type {
        box-shadow: 0 calc(var(--tabs-height)) 0 0 var(--accent-color-2) !important;
    }
    /* tab icon */
    .fav {
        background-color: var(--accent-color) !important;
        border-radius: 100% !important;
    }
    /* icon and title do not darken when hovered */
    .Tab:hover .fav, .Tab:hover .title {
        opacity: 1 !important;
        color: white !important;
    }
}