/* hidden titlebar, toolbar, sidebar header and splitter, and some toolbar buttons */

#titlebar, #TabsToolbar, #sidebar-header, .sidebar-splitter, #back-button, #forward-button, #reload-button, #home-button {
    visibility: collapse !important;
}

/* navigation bar compensation for collapsed tabs and titlebar */

#nav-bar {
    margin-top: 7px !important;
    background-color: var(--background-color) !important;
}

/* navigation bar items */

toolbarbutton:hover .toolbarbutton-badge-stack, toolbarbutton[open] .toolbarbutton-badge-stack, #page-action-buttons *:hover, #page-action-buttons *[open], #identity-box:hover, #identity-box[open], #tracking-protection-icon-container:hover, #tracking-protection-icon-container[open] {
    background-color: var(--accent-color) !important;
    border-radius: 2px;
    fill: white !important;
    fill-opacity: 1 !important;
}

/* url bar container */

#urlbar-container {
    margin: 0 !important;
}

/* url bar */

#urlbar-background {
    background-color: var(--background-color) !important;
    border: none !important;
}

/* url bar results */

.urlbarView-row {
    fill: var(--accent-color) !important;
    fill-opacity: 1 !important;
}

.urlbarView-row:hover>*, .urlbarView-row[selected]>* {
    background-color: var(--accent-color) !important;
    fill: var(--foreground-color) !important;
}

/* bookmark button */

#star-button[starred] {
    fill: var(--accent-color) !important;
}

#star-button-box:hover>#star-button, #star-button-box[open]>#star-button {
    fill: var(--foreground-color) !important;
}

/* bookmarks panel and accordeon menu on the right  */

panel>*, panelview {
    background-color: var(--background-color) !important;
}

#editBookmarkPanelRows * {
    background-color: var(--background-color) !important;
    color: var(--foreground-color) !important;
}

/* accordeon menu on the right items */

panelview toolbaritem:hover, panelview toolbarbutton:hover {
    background-color: var(--accent-color) !important;
}

/* accordeon menu on the right separators */

toolbarseparator {
    border-top: 1px solid var(--accent-color) !important;
    border-bottom: none !important;
}

/* sidebar */

#sidebar-box, #sidebar {
    position: relative !important;
    z-index: 1 !important;
    min-width: 6px !important;
    max-width: 6px !important;
}

/* sidebar when hovered or if special sidebar is shown */

#sidebar-box[sidebarcommand="viewBookmarksSidebar"]>#sidebar, #sidebar-box[sidebarcommand="viewHistorySidebar"]>#sidebar, #sidebar-box:hover>#sidebar {
    min-width: 300px !important;
}

/* url indicator in bottom left corner */

#statuspanel-label {
    background-color: var(--background-color) !important;
    border: none !important;
}

/* white flash on loading tabs fix */

#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content]>html {
    background: var(--background-color) !important;
}