/* context menu adjustments */

.context-menu {
    border-radius: 1rem !important;
}

/* context menu */

menupopup, panel-list, ul[role="menu"], #PopupAutoComplete {
    -moz-appearance: none !important;
    padding: 5px 1px 5px 1px !important;
    background-color: var(--background-color) !important;
    color: var(--foreground-color) !important;
    border: 1px var(--context-border) solid !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

/* context menu separator */

menupopup menuseparator, panel-item-separator, hr[role="separator"] {
    -moz-appearance: none !important;
    border: none !important;
    padding: .5px 0px .5px 0px !important;
    margin: 4px 11px 4px 11px !important;
    height: 0px !important;
    background-color: var(--accent-color) !important;
}

/* menu items */

menupopup menuitem, menupopup menu, button[role="menuitem"], .autocomplete-richlistitem, select>option {
    -moz-appearance: none !important;
    color: var(--foreground-color) !important;
    padding: 0 !important;
    border: none !important;
    font-size: 12px !important;
}

select>option {
    padding-inline: 7px 0px 7px 9px !important;
}

/* disabled items */

menupopup menuitem[disabled="true"], menupopup menuitem[disabled="true"]>.menu-text {
    color: gray !important;
}

/* items on hover */

menupopup menuitem:hover, menupopup menu:hover, button[role="menuitem"]:hover, .autocomplete-richlistitem:hover, menupopup menuitem[_moz-menuactive], menupopup menu[_moz-menuactive] {
    background-color: var(--accent-color) !important;
}

/* opened items */

menupopup menu[open], menupopup menuitem[selected="true"], select>option:checked {
    background-image: none !important;
    background-color: var(--accent-color) !important;
}

/* active items on hover */

menupopup menuitem:hover:active, menupopup menu:hover:active, button[role="menuitem"]:hover:active, .autocomplete-richlistitem:hover:active, menupopup menuitem[selected] {
    background-color: var(--accent-color) !important;
}

menugroup {
    padding: 0px !important;
    background-color: transparent !important;
}

menupopup menuitem>.menu-text, menupopup menuitem>.menu-iconic-text {
    color: var(--foreground-color) !important;
    padding: 0px !important;
}

menupopup menuitem[type="checkbox"], menupopup menuitem[type="radio"] {
    padding-left: 17px !important;
}

menupopup menuitem[type="checkbox"]>.menu-iconic-text, menupopup menuitem[type="radio"]>.menu-iconic-text {
    padding-left: 5px !important;
}

menupopup menuitem[checked="true"][type="checkbox"]>.menu-iconic-left {
    padding: 7px 0px 0px 0px !important;
    border: solid var(--foreground-color);
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg) scale(.75);
    margin-bottom: 4px !important;
}

menupopup menuitem[checked="true"][type="radio"]>.menu-iconic-left {
    padding: 1px !important;
    border: solid var(--foreground-color);
    height: 17px !important;
    border-radius: 100%;
    background: var(--foreground-color);
    transform: scale(.5);
}

menupopup menucaption {
    background-color: transparent !important;
    color: white !important;
}

menubar>menu {
    -moz-appearance: none !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 14px !important;
    border: none !important;
}

menubar>menu:hover {
    background-color: var(--accent-color-2) !important;
}

menubar>menu[open] {
    background-color: var(--accent-color) !important;
}

#ContentSelectDropdown>menupopup {
    background-image: none !important;
}

#ContentSelectDropdown {
    padding: 0px !important;
}

menulist, menulist[disabled="true"], select {
    -moz-appearance: none !important;
    padding: 4px 6px 4px 6px !important;
    border: 2px solid var(--accent-color-2) !important;
    border-radius: 0px !important;
    background: var(--background-color) !important;
    color: var(--foreground-color) !important;
    height: auto !important;
    box-shadow: none !important;
}

menulist:hover, select:hover {
    border: 2px solid var(--foreground-hover) !important;
}

menulist[open="true"] {
    border: 2px solid var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}

select {
    line-height: normal !important;
}

select:-moz-focusring {
    outline: none !important;
}

#context-back>.menu-iconic-left, #context-forward>.menu-iconic-left, #context-reload>.menu-iconic-left, #context-stop>.menu-iconic-left, #context-bookmarkpage>.menu-iconic-left {
    padding: 0px !important;
}

#context-navigation>menuitem {
    padding-left: 0px !important;
}

.menu-iconic-left {
    -moz-appearance: none !important;
    padding: 0px 5px 0px 9px !important;
}

.menu-right {
    -moz-appearance: none !important;
    padding: 7px !important;
    margin-right: 12px !important;
    color: white !important;
    border: solid var(--foreground-color);
    border-width: 0 2px 2px 0px;
    transform: rotate(-45deg) scale(.55);
}

.menu-accel {
    padding: 0px !important;
}

.menu-text, .menu-iconic-text {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

tooltip {
    -moz-appearance: none !important;
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
    border: none !important;
    padding: 6px !important;
}

.arrow.top, .arrow.bottom {
    display: none !important;
}

button[role="menuitem"] {
    background-color: transparent !important;
    background-position-x: 12px !important;
    padding-left: 40px !important;
    font-size: 14.5px !important;
}