/* base colors */

:root {
    /* deep magenta */
    --accent-color: #cc00cc !important;
    /* gray */
    --accent-color-2: #808080 !important;
    /* black */
    --background-color: #000000 !important;
    /* white */
    --foreground-color: #FFFFFF !important;
}

/* uniform scrollbars */

* {
    scrollbar-color: var(--accent-color) var(--background-color) !important;
    scrollbar-width: thin !important;
}

/* uniform text selection */

::selection {
    background: var(--accent-color) !important;
    color: var(--foreground-color) !important;
}

/* removes the white outline on focused elements */

:focus {
    outline: none !important;
}