/* base colors */

:root {
    /* darkorchid */
    --accent-color: #9932cc !important;
    --accent-color-2: #9932cc90 !important;
    --background-color: #000000 !important;
    --foreground-color: #FFFFFF !important;
}

/* uniform scrollbars */

* {
    scrollbar-color: var(--accent-color) var(--background-color) !important;
    scrollbar-width: thin !important;
}

/* uniform text selection */

::selection {
    background: var(--accent-color) !important;
    color: var(--foreground-color) !important;
}

/* removes the white outline on focused elements */

:focus {
    outline: none !important;
}