/* in-content variables */

@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    :root {
        --in-content-page-color: var(--foreground-color) !important;
        --in-content-page-background: var(--background-color) !important;
        --in-content-text-color: var(--foreground-color) !important;
        --in-content-deemphasized-text: var(--accent-color-2) !important;
        --in-content-selected-text: var(--foreground-color) !important;
        --in-content-box-background: var(--background-color) !important;
        --in-content-box-background-odd: var(--accent-color-2) !important;
        --in-content-box-background-hover: var(--accent-color) !important;
        --in-content-box-background-active: var(--accent-color) !important;
        --in-content-box-border-color: var(--accent-color) !important;
        --in-content-box-info-background: var(--accent-color) !important;
        --in-content-item-hover: var(--accent-color-2) !important;
        --in-content-item-selected: var(--accent-color) !important;
        --in-content-border-color: var(--accent-color-2) !important;
        --in-content-border-highlight: var(--accent-color) !important;
        --in-content-border-focus: var(--accent-color) !important;
        --in-content-border-hover: var(--accent-color-2) !important;
        --in-content-border-active: var(--accent-color) !important;
        --in-content-border-active-shadow: var(--accent-color) !important;
        --in-content-border-invalid: var(--red-50);
        --in-content-border-invalid-shadow: var(--red-50-a30);
        --in-content-category-outline-focus: 1px dotted var(--accent-color) !important;
        --in-content-category-text-selected: var(--accent-color) !important;
        --in-content-category-text-selected-active: var(--accent-color) !important;
        --in-content-category-background-hover: var(--accent-color-2) !important;
        --in-content-category-background-active: var(--accent-color-2) !important;
        --in-content-category-background-selected-hover: var(--accent-color-2) !important;
        --in-content-category-background-selected-active: var(--accent-color-2) !important;
        --in-content-tab-color: var(--accent-color-2) !important;
        --in-content-link-color: var(--accent-color) !important;
        --in-content-link-color-hover: var(--accent-color) !important;
        --in-content-link-color-active: var(--accent-color) !important;
        --in-content-link-color-visited: var(--accent-color) !important;
        --in-content-button-background: var(--background-color) !important;
        --in-content-button-background-hover: var(--accent-color) !important;
        --in-content-button-background-active: var(--accent-color) !important;
        --in-content-primary-button-background: var(--background-color) !important;
        --in-content-primary-button-background-hover: var(--accent-color) !important;
        --in-content-primary-button-background-active: var(--accent-color) !important;
        --in-content-table-background: var(--background-color) !important;
        --in-content-table-border-dark-color: var(--background-color) !important;
        --in-content-table-header-background: var(--background-color) !important;
        --in-content-dialog-header-background: var(--background-color) !important;
        --in-content-sidebar-width: 240px;
        /* about:debugging */
        --bg-color: var(--background-color) !important;
        --text-color: var(--foreground-color) !important;
        --sidebar-selected-color: var(--accent-color) !important;
        --sidebar-text-color: var(--foreground-color) !important;
        --border-color: var(--accent-color) !important;
        --box-background: var(--background-color) !important;
        --box-border-color: var(--accent-color) !important;
        --category-background-hover: var(--accent-color-2) !important;
        --category-text: var(--foreground-color) !important;
        --category-text-selected: var(--accent-color) !important;
        --link-color: var(--accent-color-2) !important;
        --link-color-active: var(--accent-color) !important;
        --link-color-hover: var(--accent-color) !important;
        --warning-border: var(--accent-color-2) !important;
        --error-background: var(--background-color) !important;
        --error-border: var(--accent-color-2) !important;
        --highlight-50: var(--accent-color) !important;
        --card-separator-color: var(--accent-color-2) !important;
    }
    body {
        --newtab-background-color: var(--background-color) !important;
        --newtab-snippets-background-color: var(--background-color) !important;
        --newtab-textbox-focus-color: var(--accent-color) !important;
        --newtab-link-primary-color: var(--accent-color) !important;
        --newtab-card-background-color: var(--background-color) !important;
        --newtab-card-shadow: none !important;
        --newtab-search-header-background-color: var(--background-color) !important;
        --newtab-topsites-icon-shadow: none !important;
    }
    /* removes the white outline and the dotted border on focused elements */
    * {
        outline: none !important;
    }
    [open] *, [focused] * {
        border: none !important;
    }
    /* about:preferences table header text */
    treecol {
        color: var(--foreground-color) !important;
    }
    /* about:preferences selected privacy type */
    .selected {
        border-color: var(--accent-color) !important;
    }
    /* about:preferences privacy types */
    .content-blocking-category {
        background-color: var(--background-color) !important;
    }
}

/* cards (about:debugging) */

@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    .card {
        background-color: var(--background-color) !important;
        border: 1px solid var(--accent-color-2) !important;
    }
}

/* tree children (file browser, etc) */

@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    /* root element */
    [dir="ltr"] {
        border-color: var(--accent-color)!important;
        background-color: var(--background-color)!important;
        color: var(--foreground-color)!important
    }
    /* header */
    [dir="ltr"] h1 {
        border-color: var(--accent-color)!important
    }
    /* items */
    [dir="ltr"]>table>tbody>tr:hover {
        outline-color: var(--accent-color)!important;
        background-color: var(--accent-color)!important
    }
    /* titles of items */
    [dir="ltr"] .dir, body[dir="ltr"] .file, body[dir="ltr"] .symlink, body[dir="ltr"] .up {
        color: var(--foreground-color)!important
    }
}

/* checkboxes */

@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    checkbox {
        opacity: 1 !important;
    }
    .checkbox-label-box {
        color: var(--foreground-color);
    }
    .checkbox-icon {
        fill: var(--foreground-color) !important;
    }
    /* active checkboxes */
    checkbox>.checkbox-check, input[type="checkbox"] {
        border: 2px solid var(--accent-color-2) !important;
        box-shadow: none !important;
        background-image: none !important;
    }
    checkbox:hover>.checkbox-check, input[type="checkbox"]:hover, input[type="checkbox"]:checked:hover, checkbox[checked="true"]:hover>.checkbox-check, checkbox:active>.checkbox-check, input[type="checkbox"]:active, input[type="checkbox"]:checked:active, checkbox[checked="true"]:hover:active>.checkbox-check {
        border-color: var(--accent-color) !important;
    }
    input[type="checkbox"]:checked, checkbox[checked="true"]>.checkbox-check {
        border-color: var(--accent-color-2) !important;
        background-color: var(--accent-color-2)!important;
        background: var(--accent-color-2) url(../img/check.png) center center no-repeat !important;
    }
    /* disabled checkboxes */
    checkbox[disabled="true"]>.checkbox-check {
        border-color: var(--accent-color-3) !important;
    }
    checkbox[disabled="true"][checked="true"]>.checkbox-check {
        background: var(--accent-color-3) url(../img/check.png) center center no-repeat !important;
    }
    checkbox[disabled="true"][checked="true"]:hover>.checkbox-check, checkbox[disabled="true"][checked="true"]:hover:active>.checkbox-check {
        border-color: var(--accent-color-3) !important;
    }
    input[type="checkbox"].toggle-button:hover:checked {
        border-color: var(--accent-color) !important;
    }
    input[type="checkbox"].toggle-button::before {
        background: var(--background-color) !important;
    }
    input[type="checkbox"].toggle-button:hover::before {
        background: var(--accent-color) !important;
    }
    input[type="checkbox"].toggle-button:checked::before {
        background: var(--accent-color) !important;
    }
}

/* radio buttons */

@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    radio {
        opacity: 1 !important;
    }
    input[type="radio"] {
        -moz-appearance: none !important;
        border: 2px solid var(--accent-color-2) !important;
        border-radius: 100% !important;
        background: transparent !important;
        box-shadow: none !important;
        width: auto !important;
        height: auto !important;
        list-style: none !important;
    }
    /* active radio buttons */
    input[type="radio"]:hover, input[type="radio"]:hover:active {
        border-color: var(--accent-color) !important;
    }
    input[type="radio"]:checked {
        border-color: var(--accent-color-2) !important;
    }
    input[type="radio"]:checked:hover, input[type="radio"]:checked:hover:active {
        border-color: var(--accent-color) !important;
    }
    radio>.radio-check {
        border: 2px solid var(--accent-color-2) !important;
        fill: var(--accent-color) !important;
    }
    radio:hover>.radio-check, radio:hover:active>.radio-check {
        border-color: var(--accent-color) !important;
    }
    radio[selected="true"]>.radio-check {
        border: 2px solid var(--accent-color-2) !important;
        background: url(../img/radio.png) center center no-repeat !important;
    }
    radio[selected="true"]:hover>.radio-check, radio[selected="true"]:hover:active>.radio-check {
        border: 2px solid var(--accent-color) !important;
        background: url(../img/radio-hover.png) center center no-repeat !important;
    }
    /* disabled radio buttons */
    radio[disabled="true"]>.radio-check {
        border-color: var(--accent-color-3) !important;
        fill: var(--accent-color-3) !important;
    }
    radio[disabled="true"]:hover>.radio-check {
        border-color: var(--accent-color-3) !important;
    }
    radio[disabled="true"]:active>.radio-check {
        border-color: var(--accent-color-3) !important;
    }
    radio[disabled="true"][selected="true"]>.radio-check {
        border-color: var(--accent-color-3) !important;
        background: url(../img/radio.png) center center no-repeat !important;
    }
    radio[disabled="true"][selected="true"]:hover>.radio-check {
        border-color: var(--accent-color-3) !important;
        background: url(../img/radio.png) center center no-repeat !important;
    }
}

/* buttons */

/*/* 

.default-button, .primary-button {
    border: none !important;
    background-color: var(--accent-color-2) !important;
    color: var(--foreground-color) !important;
}

.default-button:hover, .primary-button:hover {
    background-color: var(--accent-color) !important;
}*/

/*
@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    button, .urlbarView-tip-button, .toggle-group-label {
        background-color: var(--background-color) !important;
        background-image: none !important;
        border: 1px solid var(--accent-color) !important;
        color: var(--foreground-color) !important;
        opacity: 1 !important;
    }
    button:hover, button[open], .urlbarView-tip-button:hover, .toggle-group-label:hover, button:hover:active, .urlbarView-tip-button:hover:active {
        background-color: var(--accent-color) !important;
    }
    button[disabled="true"]:hover, button[disabled="true"]:hover:active {
        background-color: var(--accent-color-3) !important;
        border-color: var(--accent-color-3) !important;
    }
    .expander-down {
        list-style-image: none !important;
        background: url(../img/arrowdown.png) center center no-repeat !important;
        background-color: var(--background-color) !important;
    }
    .expander-up {
        list-style-image: none !important;
        background: url(../img/arrowdown.png) center center no-repeat !important;
        background-color: var(--background-color) !important;
        transform: rotate(180deg);
    }
    button[role="tab"] {
        background-color: var(--background-color) !important;
        color: var(--foreground-color) !important;
    }
    button[role="tab"][aria-selected="true"] {
        border-bottom: 2px solid var(--accent-color) !important;
        padding-bottom: 8px !important;
    }
    button[role="tab"]:hover {
        color: #B5B5B5 !important;
    }
    button[role="tab"]:hover:active {
        background-color: transparent !important;
    }
    button[role="tab"][aria-selected="false"]:hover:active {
        background-color: transparent !important;
        border-color: transparent !important;
    }
}

/*


button, .urlbarView-tip-button, .toggle-group-label {
    -moz-appearance: none !important;
    padding: 3px !important;
    background-color: var(--button) !important;
    border: 2px var(--button) solid !important;
    border-radius: 0px !important;
    color: var(--button-color) !important;
    cursor: default !important;
    transition: none !important;
    opacity: 1 !important;
    box-shadow: none !important;
}

button:hover, button[open], .urlbarView-tip-button:hover, .toggle-group-label:hover {
    border-color: var(--button-hover) !important;
}

button:hover:active, .urlbarView-tip-button:hover:active {
    background-color: var(--button-hover-active) !important;
    border-color: var(--button-hover-active) !important;
}

button[disabled="true"], button[disabled="true"] .button-text {
    color: var(--button-disabled-text) !important;
}

button[disabled="true"]:hover, button[disabled="true"]:hover:active {
    background-color: var(--button) !important;
    border-color: var(--button) !important;
}

.toggle-group-input:enabled:checked+.toggle-group-label {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
    color: var(--foreground-color) !important;
}

.toggle-group-input:enabled:checked+.toggle-group-label:hover {
    background-image: var(--button-accent) !important;
    background-blend-mode: multiply;
    background-color: var(--button-accent-mod) !important;
    border-color: var(--button-hover) !important;
}

.toggle-group>.toggle-group-label {
    margin-right: 5px !important;
}

.expander-down {
    background: url(../img/arrowdown.png) center center no-repeat !important;
    background-color: #000000A0 !important;
    list-style-image: none !important;
    padding: 11px !important;
}

.expander-up {
    background: url(../img/arrowdown.png) center center no-repeat !important;
    background-color: black !important;
    list-style-image: none !important;
    padding: 11px !important;
    transform: rotate(180deg);
}

named-deck-button+named-deck-button {
    margin-left: 24px !important;
}

button[role="tab"] {
    background-color: transparent !important;
    color: #888888 !important;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    font-size: 20px !important;
    padding-bottom: 8px !important;
}

button[role="tab"][aria-selected="true"] {
    color: #E2E2E2 !important;
    border-bottom: 2px solid var(--accent-color) !important;
    padding-bottom: 8px !important;
}

button[role="tab"]:hover {
    color: #B5B5B5 !important;
}

button[role="tab"]:hover:active {
    background-color: transparent !important;
}

button[role="tab"][aria-selected="false"]:hover:active {
    background-color: transparent !important;
    border-color: transparent !important;
}
*/