/* reddit adjustments  */

@-moz-document domain("reddit.com") {
    header>*, ._1BFbVxT49QnrAN3fqGZ1z8._1tvThPWQpORoc2taKebHxs, ._2IHh1GBfUxJVQQX0dJvAry, #COIN_PURCHASE_DROPDOWN_ID *, #POPUP_CONTAINER, .kEQVd8aneM1tVkcIKUyDT {
        visibility: collapse !important;
    }
    header:hover>* {
        visibility: visible !important;
    }
}