/* dev-tools */

@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    /* theme variables */
    :root {
        --theme-body-background: var(--background-color) !important;
        --theme-body-emphasized-background: var(--accent-color-2) !important;
        --theme-sidebar-background: var(--background-color) !important;
        --theme-tab-toolbar-background: var(--background-color) !important;
        --theme-toolbar-background: var(--background-color) !important;
        --theme-toolbar-color: var(--foreground-color) !important;
        --theme-toolbar-selected-color: var(--foreground-color) !important;
        --theme-toolbar-background-hover: var(--accent-color) !important;
        --theme-toolbar-hover: var(--accent-color) !important;
        --theme-toolbar-hover-active: var(--accent-color) !important;
        --theme-toolbar-separator: var(--accent-color) !important;
        --tab-line-selected-color: var(--accent-color) !important;
        --toolbarbutton-background: var(--background-color) !important;
        --toolbarbutton-hover-background: var(--accent-color) !important;
        --toolbarbutton-focus-background: var(--accent-color) !important;
        --toolbarbutton-focus-color: var(--foreground-color) !important;
        --theme-button-background: var(--background-color) !important;
        --theme-button-active-background: var(--accent-color) !important;
        --theme-accordion-header-background: var(--background-color) !important;
        --theme-accordion-header-hover: var(--accent-color) !important;
        --theme-selection-background: var(--accent-color) !important;
        --theme-selection-background-hover: var(--accent-color) !important;
        --theme-selection-focus-background: var(--accent-color) !important;
        --theme-selection-color: var(--foreground-color) !important;
        --theme-splitter-color: var(--accent-color) !important;
        --theme-emphasized-splitter-color: var(--accent-color) !important;
        --theme-emphasized-splitter-color-hover: var(--accent-color) !important;
        --theme-icon-color: var(--accent-color) !important;
        --theme-icon-checked-color: var(--foreground-color) !important;
        --theme-icon-dimmed-color: var(--accent-color-2) !important;
        --theme-body-color: var(--foreground-color) !important;
        --theme-popup-background: var(--background-color) !important;
        --theme-popup-color: var(--foreground-color) !important;
        --theme-popup-border-color: var(--accent-color) !important;
        --theme-popup-dimmed: var(--background-color) !important;
        --theme-toolbarbutton-background: var(--background-color) !important;
        --theme-toolbarbutton-color: var(--foreground-color) !important;
        --theme-toolbarbutton-hover-background: var(--accent-color) !important;
        --theme-toolbarbutton-active-background: var(--accent-color) !important;
        --theme-toolbarbutton-active-color: var(--foreground-color) !important;
        --theme-contrast-background: var(--background-color) !important;
        --theme-contrast-color: var(--foreground-color) !important;
    }
    /* buttons` text on hover */
    button:hover::before, button:hover>img {
        fill: var(--foreground-color) !important;
        color: var(--foreground-color) !important;
    }
}

/* memory page */

@-moz-document regexp("about:memory") {
    html {
        background: var(--background-color) !important;
    }
    .legend, .opsRow, .section, .treeline, .sidebarItem {
        color: var(--foreground-color) !important;
        background-color: var(--background-color) !important;
        border: 1px solid var(--accent-color-2) !important;
    }
}

/* json */

@-moz-document regexp(".*[\.json]$") {
    html {
        background: var(--background-color)!important;
        color: var(--foreground-color)!important
    }
}

/* pdf */

@-moz-document regexp(".*\\.(p|P)(d|D)(f|F).*") {
    #loadingBar .progress, .dropdownToolbarButton>select, .dropdownToolbarButton>select>option, .overlayButton, .secondaryToolbarButton, .toolbarField, body, div#viewer {
        background-color: var(--background-color) !important
    }
    body {
        background-image: none !important
    }
    .splitToolbarButtonSeparator, .verticalToolbarSeparator {
        box-shadow: none !important;
        background-color: var(--background-color) !important
    }
    div#toolbarViewer {
        background-color: var(--background-color) !important
    }
    #numPages, #pageNumber, #scaleSelect {
        color: var(--foreground-color) !important
    }
    .pdfViewer .page {
        border-image: none !important
    }
    #pageNumber, #scaleSelectContainer {
        border: 1px solid !important;
        border-color: var(--accent-color) !important
    }
    #loadingBar {
        position: relative;
        width: 100%;
        height: 4px;
        background-color: var(--background-color) !important;
        border-bottom: 1px solid!important
    }
    #sidebarContainer, #sidebarContent {
        background-color: var(--background-color) !important
    }
    #toolbarSidebar {
        background-color: var(--background-color) !important;
        background-image: none !important;
        border-color: var(--accent-color) !important
    }
    .doorHanger, .doorHangerRight {
        border: 1px solid !important;
        border-color: var(--accent-color) !important;
        box-shadow: none !important
    }
    #toolbarContainer, .findbar, .secondaryToolbar {
        background-color: var(--background-color) !important;
        background-image: none !important
    }
    .dropdownToolbarButton, .overlayButton, .secondaryToolbarButton, .toolbarButton {
        border: none !important;
        color: var(--foreground-color) !important
    }
    .dropdownToolbarButton, .overlayButton, .toolbarButton:focus, .toolbarButton:hover {
        background-color: var(--accent-color) !important;
        background-image: none !important;
        border: none !important;
        box-shadow: none !important;
    }
    .secondaryToolbarButton:focus, .secondaryToolbarButton:hover {
        background-color: var(--background-color) !important;
        background-image: none !important;
        box-shadow: none !important
    }
    .secondaryToolbarButton::before, .toolbarButton::before {
        filter: invert(20%) !important
    }
    .secondaryToolbarButton.toggled, .splitToolbarButton.toggled>.toolbarButton.toggled, .toolbarButton.toggled {
        background-color: var(--background-color) !important;
        background-image: none !important;
        box-shadow: none !important;
        color: var(--foreground-color) !important
    }
    .horizontalToolbarSeparator {
        background-color: var(--accent-color) !important;
        box-shadow: none !important
    }
}

/* view source */

@-moz-document regexp("view-source") {
    :root {
        background-color: var(--background-color)!important;
        color: var(--foreground-color)!important
    }
    pre[id]:before, span[id]:before {
        color: var(--foreground-color) !important
    }
    .highlight .end-tag, .highlight .start-tag {
        color: purple !important
    }
    .highlight .comment {
        color: green !important
    }
    .highlight .cdata {
        color: #c06 !important
    }
    .highlight .doctype {
        color: #4682b4 !important
    }
    .highlight .pi {
        color: red !important
    }
    .highlight .entity {
        color: #dea174 !important
    }
    .highlight .attribute-name {
        color: green !important
    }
    .highlight .attribute-value {
        color: var(--foreground-color) !important
    }
    .highlight .markupdeclaration {
        color: #4682b4 !important
    }
    .highlight .error, .highlight .error> :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi, .entity, .attribute-name, .attribute-value) {
        color: #de7474 !important
    }
}