@-moz-document url-prefix("chrome:"), url-prefix("about:") {
    dialog, window, wizard, .app {
        background: var(--background-color) !important;
        color: var(--foreground-color) !important;
    }
    #window-modal-dialog {
        background: transparent !important;
    }
    .wizard-header {
        background: var(--background-color) !important;
        color: var(--foreground-color) !important;
        border: none !important;
    }
    .wizard-button[dlgtype="back"] {
        margin-inline-end: 5px !important;
    }
    .header-container, .footer-container {
        border: none !important;
    }
    .dialogBox {
        margin-top: 0px !important;
        background: transparent !important;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5) !important;
        animation: fadeInScale .3s;
    }
    .dialogFrame {
        background: var(--background-color) !important;
        border: 1px solid var(--accent-color) !important;
        border-radius: 0px !important;
        color: var(--foreground-color) !important;
    }
    .previewStack {
        background: transparent !important;
    }
    li.card, section.card {
        background-color: var(--background-color) !important;
        border: 1px solid var(--accent-color) !important;
    }
    treecol {
        border-inline-start-width: 0px !important;
    }
    listheader {
        border-bottom: 0px !important;
    }
    richlistbox {
        border: none !important;
    }
    .menulist-label-box {
        border: none !important;
    }
    .menulist-dropmarker {
        padding-right: 0px !important;
    }
    .menulist-label-box {
        padding-left: 0px !important;
    }
    resizer {
        display: none !important;
    }
    * {
        outline: none !important;
    }
    .dialogBox {
        background: var(--background-color) !important;
        border: 1px solid var(--accent-color) !important;
        border-radius: 0px !important;
        color: var(--foreground-color) !important;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5) !important;
        animation: fadeInScale .3s;
    }
    .groove {
        border: none !important;
    }
    .groupbox-title {
        background: transparent !important;
        border-bottom: 0px !important;
        padding: 0px !important;
    }
    .dialogBox>caption {
        padding: 0px !important;
    }
    .dialogOverlay[topmost="true"] {
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
    dialog {
        background: transparent !important;
    }
    .prefpane {
        background: black !important;
        color: white !important;
    }
    separator.groove:not([orient="vertical"]) {
        border-top: 0px !important;
    }
    .advanced-panel {
        background-color: black !important;
        border: none !important;
    }
    .windowDialog {
        color: white !important;
    }
    .list>scrollbox>.scrollbox-innerbox {
        border: none !important;
    }
    window {
        background: var(--background-color) !important;
        color: var(--foreground-color) !important;
    }
    :root>* {
        font-size: 14px !important;
    }
    html.private {
        --in-content-page-background: #25003e !important;
    }
    .sidebar-footer-button>.text-link {
        height: 40px !important;
        margin-inline-start: 0px !important;
        padding-left: 14px !important;
        color: var(--foreground-color) !important;
    }
    .sidebar-footer-button>.text-link:hover {
        border-radius: 0px !important;
        color: var(--foreground-color) !important;
    }
    .sidebar-footer-button {
        padding: 0px !important;
    }
    .sidebar-footer-button>.text-link>hbox {
        margin-top: 10px !important;
    }
    .sidebar-footer-button:last-of-type {
        margin-bottom: 8px !important;
    }
    .sidebar-footer-label {
        font-size: 13px !important;
        margin: 0px !important;
        padding-left: 10px !important;
        line-height: 1.4em !important;
        padding-bottom: 1px !important;
    }
    .sidebar-footer-icon {
        height: 18px !important;
        width: 18px !important;
        margin: 0px !important;
        fill: var(--foreground-color) !important;
    }
    .sidebar-footer-link {
        padding-left: 14px !important;
        height: 40px !important;
        border-radius: 0px !important;
        fill: var(--foreground-color) !important;
        color: var(--foreground-color) !important;
        background-position-x: 14px !important;
        background-position-y: 11px !important;
        background-size: 18px !important;
    }
    .sidebar-footer-link:hover, .sidebar-footer-label {
        color: var(--foreground-color) !important;
    }
    .sidebar-footer-link-text {
        color: var(--foreground-color) !important;
        padding-bottom: 1px !important;
    }
    .sidebar-footer-list {
        margin-left: 0px !important;
        margin-bottom: 8px !important;
    }
    .category-icon {
        height: 18px !important;
        width: 18px !important;
    }
    #categories hr {
        margin: 0px !important;
        border: none !important;
        height: 20px !important;
    }
    .message-bar {
        background: transparent !important;
        color: white !important;
    }
    /* Font Fixes */
    textbox {
        font-size: 12px !important;
    }
    .anonymous-div {
        line-height: inherit !important;
    }
    :root {
        --in-content-sidebar-width: 250px !important;
    }
    :root {
        --urlbar-popup-url-color: var(--accent-color) !important;
    }
    /* Button */
    button, .urlbarView-tip-button, .toggle-group-label {
        -moz-appearance: none !important;
        padding: 3px !important;
        background-color: var(--button) !important;
        border: 2px var(--button) solid !important;
        border-radius: 0px !important;
        color: var(--button-color) !important;
        cursor: default !important;
        transition: none !important;
        opacity: 1 !important;
        box-shadow: none !important;
    }
    button:hover, button[open], .urlbarView-tip-button:hover, .toggle-group-label:hover {
        border-color: var(--button-hover) !important;
    }
    button:hover:active, .urlbarView-tip-button:hover:active {
        background-color: var(--button-hover-active) !important;
        border-color: var(--button-hover-active) !important;
    }
    button[disabled="true"], button[disabled="true"] .button-text {
        color: var(--button-disabled-text) !important;
    }
    button[disabled="true"]:hover, button[disabled="true"]:hover:active {
        background-color: var(--button) !important;
        border-color: var(--button) !important;
    }
    .toggle-group-input:enabled:checked+.toggle-group-label {
        background-color: var(--accent-color) !important;
        border-color: var(--accent-color) !important;
        color: var(--foreground-color) !important;
    }
    .toggle-group-input:enabled:checked+.toggle-group-label:hover {
        background-image: var(--button-accent) !important;
        background-blend-mode: multiply;
        background-color: var(--button-accent-mod) !important;
        border-color: var(--button-hover) !important;
    }
    .toggle-group>.toggle-group-label {
        margin-right: 5px !important;
    }
    .expander-down {
        background: url(../img/arrowdown.png) center center no-repeat !important;
        background-color: #000000A0 !important;
        list-style-image: none !important;
        padding: 11px !important;
    }
    .expander-up {
        background: url(../img/arrowdown.png) center center no-repeat !important;
        background-color: black !important;
        list-style-image: none !important;
        padding: 11px !important;
        transform: rotate(180deg);
    }
    named-deck-button+named-deck-button {
        margin-left: 24px !important;
    }
    button[role="tab"] {
        background-color: transparent !important;
        color: #888888 !important;
        border: none !important;
        border-bottom: 2px solid transparent !important;
        font-size: 20px !important;
        padding-bottom: 8px !important;
    }
    button[role="tab"][aria-selected="true"] {
        color: #E2E2E2 !important;
        border-bottom: 2px solid var(--accent-color) !important;
        padding-bottom: 8px !important;
    }
    button[role="tab"]:hover {
        color: #B5B5B5 !important;
    }
    button[role="tab"]:hover:active {
        background-color: transparent !important;
    }
    button[role="tab"][aria-selected="false"]:hover:active {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    /* Text Box */
    textarea, input:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]), .findbar-textbox {
        -moz-appearance: none !important;
        padding: 5.5px 5.5px 5.5px 5.5px !important;
        border: 2px solid var(--textbox-border) !important;
        border-radius: 0px !important;
        background: var(--textbox) !important;
        color: var(--textbox-color) !important;
        box-shadow: none !important;
        opacity: 1 !important;
        transition: none !important;
        outline: none !important;
    }
    textarea:hover, input:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]):hover, .findbar-textbox:hover {
        border: 2px solid var(--textbox-hover) !important;
    }
    textarea:focus, input:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]):focus, .findbar-textbox:focus {
        padding: 5.5px 5.5px 5.5px 5.5px !important;
        border: 2px solid var(--accent-color) !important;
        background: var(--background-color) !important;
        color: var(--foreground-color) !important;
    }
    input[disabled]:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]) {
        background-color: var(--button) !important;
        border-color: var(--button) !important;
        color: var(--button-disabled-text) !important;
    }
    search-textbox, textbox {
        -moz-appearance: none !important;
        background: transparent !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        cursor: default !important;
    }
    /* Listbox */
    listbox {
        -moz-appearance: none !important;
        background: var(--background-color) !important;
        border: 1px #333333 solid !important;
    }
    listitem {
        margin: 0px !important;
        padding: 1px !important;
        border: none !important;
        color: white !important;
    }
    listitem:hover {
        background: #202020 !important;
    }
    listitem[selected="true"] {
        background: #404040 !important;
    }
    dropmarker {
        /* Change this */
        -moz-appearance: none !important;
        margin-right: 0px !important;
        padding-right: 20px !important;
        list-style-image: none !important;
        background: var(--dropmarker) center center no-repeat !important;
    }
    dropmarker>.dropmarker-icon {
        list-style-image: none !important;
    }
    /* Check Box */
    checkbox {
        opacity: 1 !important;
    }
    checkbox>.checkbox-check, input[type="checkbox"] {
        -moz-appearance: none !important;
        border: 2px solid var(--checkbox) !important;
        border-radius: 0px !important;
        padding: 8px !important;
        margin: 0px !important;
        box-shadow: none !important;
        background-color: transparent !important;
        background-image: none !important;
    }
    checkbox:hover>.checkbox-check, input[type="checkbox"]:hover, input[type="checkbox"]:checked:hover, checkbox[checked="true"]:hover>.checkbox-check {
        border-color: var(--checkbox-checked-hover) !important;
    }
    checkbox:active>.checkbox-check, input[type="checkbox"]:active, input[type="checkbox"]:checked:active, checkbox[checked="true"]:hover:active>.checkbox-check {
        border-color: var(--checkbox-checked-active) !important;
        background-color: var(--checkbox-checked-active) !important;
    }
    input[type="checkbox"]:checked, checkbox[checked="true"]>.checkbox-check {
        border-color: var(--accent-color) !important;
        background: var(--accent-color) url(../img/check.png) !important;
    }
    input[type="checkbox"] {
        height: 0px !important;
        width: 0px !important;
        margin-right: 10px !important;
    }
    input[type="checkbox"]:-moz-focusring {
        outline: none !important;
    }
    .checkbox-label-box {
        color: var(--foreground-color);
        margin-left: 10px !important;
    }
    .checkbox-icon {
        fill: var(--foreground-color) !important;
    }
    /* Check Box Disabled */
    checkbox[disabled="true"]>.checkbox-label-box {
        color: var(--checkbox-disabled) !important;
    }
    checkbox[disabled="true"]>.checkbox-check {
        border-color: var(--checkbox-disabled) !important;
        background-color: transparent !important;
        padding: 8px !important;
    }
    checkbox[disabled="true"][checked="true"]>.checkbox-check {
        background-color: var(--checkbox-disabled) !important;
    }
    checkbox[disabled="true"][checked="true"]:hover>.checkbox-check {
        border-color: var(--checkbox-disabled) !important;
    }
    checkbox[disabled="true"][checked="true"]:hover:active>.checkbox-check {
        border-color: var(--checkbox-disabled) !important;
        background-color: var(--checkbox-disabled) !important;
    }
    input[type="checkbox"].toggle-button {
        background-image: none !important;
        border-radius: 10px !important;
        padding: 8px !important;
        padding-right: 32px !important;
    }
    input[type="checkbox"].toggle-button:hover:checked {
        border-color: var(--accent-color) !important;
    }
    input[type="checkbox"].toggle-button::before {
        background: var(--checkbox) !important;
        height: 10px !important;
        width: 10x !important;
        outline: none !important;
        margin: 0px !important;
        transform: translateX(-5px) translateY(-5px) !important;
    }
    input[type="checkbox"].toggle-button:hover::before {
        background: var(--checkbox-checked-hover) !important;
    }
    input[type="checkbox"].toggle-button:checked::before {
        background: var(--toggle-checked) !important;
        transform: translateX(19px) translateY(-5px) !important;
    }
    /* Number Input */
    input[type="number"]::-moz-number-spin-box {
        display: none !important;
    }
    /* Radio Button */
    radio {
        opacity: 1 !important;
    }
    input[type="radio"] {
        -moz-appearance: none !important;
        border: 2px solid var(--radio-border) !important;
        border-radius: 100% !important;
        background: transparent !important;
        margin-right: 5px !important;
        box-shadow: none !important;
        width: auto !important;
        height: auto !important;
        list-style: none !important;
    }
    input[type="radio"]:hover {
        border: 2px solid var(--radio-border-hover) !important;
    }
    input[type="radio"]:hover:active {
        border: 2px solid var(--radio-border-active) !important;
    }
    input[type="radio"]:checked {
        border: 2px solid var(--accent-color) !important;
    }
    input[type="radio"]:checked:hover {
        border: 2px solid var(--accent-color) !important;
    }
    input[type="radio"]:checked:hover:active {
        border: 2px solid #999999 !important;
    }
    input[type="radio"]::before {
        display: block !important;
        content: "" !important;
        background: transparent !important;
        height: 10px !important;
        width: 10px !important;
        margin: 3px !important;
        border-radius: 10px !important;
    }
    input[type="radio"]:checked::before {
        background: var(--radio-border) !important;
    }
    input[type="radio"]:checked:hover::before {
        background: var(--radio-border-hover) !important;
    }
    input[type="radio"]:checked:hover:active::before {
        background: var(--radio-border-active) !important;
    }
    input[type="radio"]+span {
        position: relative !important;
        bottom: 0px !important;
    }
    radio>.radio-check {
        border: 2px solid var(--radio-border) !important;
    }
    radio:hover>.radio-check {
        border: 2px solid var(--radio-border-hover) !important;
    }
    radio:hover:active>.radio-check {
        border: 2px solid var(--radio-border-active) !important;
    }
    radio[selected="true"]>.radio-check {
        border: 2px solid var(--accent-color) !important;
        background: url(../img/radio.png) !important;
    }
    radio[selected="true"]:hover>.radio-check {
        border: 2px solid var(--accent-color) !important;
        background: url(../img/radio-hover.png) !important;
    }
    radio[selected="true"]:hover:active>.radio-check {
        background: url(../img/radio-active.png) !important;
        border: 2px solid #999999 !important;
    }
    /* Radio Button Disabled */
    radio[disabled="true"]>.radio-label-box {
        color: var(--checkbox-disabled) !important;
    }
    radio[disabled="true"]>.radio-check {
        border: 2px solid var(--checkbox-disabled) !important;
    }
    radio[disabled="true"]:hover>.radio-check {
        border: 2px solid var(--checkbox-disabled) !important;
    }
    radio[disabled="true"]:active>.radio-check {
        border: 2px solid var(--checkbox-disabled) !important;
    }
    radio[disabled="true"][selected="true"]>.radio-check {
        border: 2px solid var(--checkbox-disabled) !important;
        background: url(../img/radio.png) !important;
    }
    radio[disabled="true"][selected="true"]:hover>.radio-check {
        border: 2px solid var(--checkbox-disabled) !important;
        background: url(../img/radio.png) !important;
    }
    radio>.radio-label-box {
        margin-left: 5px !important;
        outline: none !important;
    }
    a, label[href] {
        color: var(--foreground-color) !important;
    }
    a:hover, label[href]:hover, a:active, label[href]:active {
        color: var(--accent-color) !important;
    }
    a:visited, label[href]:visited {
        color: gray !important;
    }
    .toolbarbutton-text {
        color: inherit !important;
    }
    groupbox {
        -moz-appearance: none !important;
        border: none !important;
    }
    treechildren::-moz-tree-image {
        fill: var(--foreground-color) !important;
    }
    treechildren::-moz-tree-twisty {
        fill: var(--foreground-color) !important;
    }
    treechildren::-moz-tree-row {
        background-color: var(--background-color) !important;
    }
    treechildren::-moz-tree-row(hover) {
        background-color: var(--treechildren-row-hover) !important;
    }
    treechildren::-moz-tree-row(selected) {
        background-color: var(--treechildren-row-selected) !important;
        border: none !important;
    }
    treechildren::-moz-tree-cell-text {
        color: var(--foreground-color) !important;
    }
    treechildren::-moz-tree-cell-text(hover) {
        color: var(--foreground-color) !important;
    }
    treechildren::-moz-tree-cell-text(selected) {
        color: var(--foreground-color) !important;
    }
    tree {
        -moz-appearance: none !important;
        border: none !important;
    }
    treecol {
        -moz-appearance: none !important;
        color: var(--foreground-color) !important;
        background-color: var(--treecol) !important;
        height: 22px !important;
    }
    treecol:hover, .treecol-image:hover {
        background-color: var(--treecol-hover) !important;
    }
    treecol:active, .treecol-image:active {
        background-color: var(--treecol-selected) !important;
    }
    #placesView>splitter {
        border-inline-end: 1px solid var(--organizer-border-color) !important;
    }
    #detailsDeck {
        border-top: 1px solid rgb(40, 40, 40) !important;
    }
    .tree-splitter {
        width: 1px !important;
        max-width: 1px !important;
        -moz-appearance: none !important;
        border: 1px solid rgb(100, 100, 100) !important;
    }
    treecol[hidden="true"]+.tree-splitter {
        border: none !important;
        width: 0px !important;
        max-width: 0px !important;
    }
    .treecol-image {
        -moz-appearance: none !important;
        background-color: rgb(25, 25, 25) !important;
    }
    treecol[sortDirection="descending"]:not([hideheader="true"])>*.treecol-sortdirection, .treecol-sortdirection[sortDirection="descending"] {
        list-style-image: url(../img/arrowdown.png) !important;
        width: 14px !important;
        height: 10px !important;
    }
    treecol[sortDirection="ascending"]:not([hideheader="true"])>*.treecol-sortdirection, .treecol-sortdirection[sortDirection="ascending"] {
        list-style-image: url(../img/arrowdown.png) !important;
        transform: rotate(180deg);
        width: 14px !important;
        height: 10px !important;
    }
    listheader {
        box-shadow: none !important;
        padding-bottom: 0px !important;
        border: none !important;
    }
    /* Removes padding effect on click */
    treecol {
        padding: 0px 10px !important;
    }
    treecol:active {
        padding: 0px 10px !important;
    }
    treecols {
        border-bottom: 0px !important;
    }
    treecol[hideheader="true"], treecol[hideheader="true"]>.treecol-image {
        padding: 0px !important;
        height: 0px !important;
    }
    .treecol-image {
        padding: 5px 10px !important;
    }
    .tree-columnpicker-icon {
        filter: invert(1);
    }
    /* Richlist Stuff */
    richlistbox {
        -moz-appearance: none !important;
        background-color: transparent !important;
        border: none !important;
        border-radius: 0px !important;
    }
    richlistitem {
        background-color: transparent !important;
        color: var(--foreground-color) !important;
        border-radius: 0px !important;
    }
    richlistitem:hover {
        background-color: var(--richlistitem-hover) !important;
    }
    richlistitem:hover:active {
        background-color: var(--richlistitem-active) !important;
    }
    richlistitem[selected="true"] {
        background-image: none !important;
        background-clip: border-box !important;
        outline: none !important;
        background-color: var(--richlistitem-selected) !important;
    }
    richlistbox:-moz-focusring {
        border: none !important;
        box-shadow: none !important;
    }
    .downloadButton:hover>.button-box>.button-icon {
        fill: var(--accent-color) !important;
    }
    progressmeter, progress {
        -moz-appearance: none !important;
        border: none !important;
        background: var(--progressbar) !important;
        height: 8px !important;
    }
    progressmeter>.progress-bar, progress::-moz-progress-bar {
        background-color: var(--accent-color) !important;
        margin: 0px !important;
    }
    progressmeter[paused="true"]>.progress-bar, progress[paused]::-moz-progress-bar {
        background-color: GrayText !important;
    }
    progressmeter[mode="undetermined"]>.progress-bar, progress:not([value])::-moz-progress-bar {
        background-image: none !important;
        animation: none !important;
    }
    progressmeter>.progress-remainder {
        border: none !important;
        background: #333333 !important;
    }
    /* Customization Page */
    #customization-content-container {
        background-color: var(--background-color) !important;
    }
    #customization-footer {
        border-top: none !important;
        background-color: var(--bottom-background) !important;
    }
    .customizationmode-button {
        border-radius: 0px !important;
    }
    .mainContainer, .tabmodalprompt-mainContainer {
        color: white !important;
        background-color: black !important;
        border-radius: 0px !important;
        border: 1px solid var(--accent-color) !important;
        animation: fadeInScale .3s;
    }
    tabmodalprompt {
        background: none !important;
        background-color: #00000090 !important;
        animation: fadeInOpacity .3s;
    }
    .buttonContainer>button {
        padding: 4.5px !important;
    }
    /* Dev Tools */
    .devtools-tab, .breadcrumbs-widget-item, .tooltip-container button {
        border: none !important;
        background: transparent !important;
    }
    .devtools-tab:hover, .breadcrumbs-widget-item:hover, .tooltip-container button:hover {
        border: none !important;
        background: #353535 !important;
    }
    .devtools-tab:hover:active, .breadcrumbs-widget-item:hover:active, .tooltip-container button:hover:active {
        border: none !important;
    }
    .devtools-tab-line {
        background: var(--accent-color) !important;
    }
    .devtools-button {
        border-radius: 0px !important;
        background: transparent !important;
        border: none !important;
    }
    .devtools-button:hover {
        background: #353535 !important;
        border: none !important;
    }
    .devtools-button:hover:active {
        border: none !important;
    }
    .styleinspector-propertyeditor {
        color: black !important;
    }
    /* Permissions */
    .identity-popup-permission-remove-button:not(:-moz-focusring):hover>.button-box>.button-icon {
        fill: currentColor !important;
    }
    .identity-popup-expander {
        border: none !important;
        background: url("chrome://global/skin/icons/arrow-left.svg") center no-repeat !important;
    }
    .identity-popup-expander:hover, .identity-popup-expander[open] {
        border: none !important;
    }
    .identity-popup-expander:hover:active {
        border: none !important;
        fill: currentColor !important;
        background: url("chrome://global/skin/icons/arrow-left.svg") center no-repeat !important;
        background-color: var(--arrowpanel-dimmed-further) !important;
    }
    .external {
        color: var(--accent-color) !important;
    }
    .external::after {
        fill: var(--accent-color) !important;
    }
}