/* all browser pages  */

/* uncategorized stuff */

@-moz-document regexp("^(about:|chrome:|file:|moz-extension:).*") {
    .wizard-header {
        background: var(--background-color) !important;
        color: var(--foreground-color) !important;
        border: none !important;
    }
    .header-container, .footer-container {
        border: none !important;
    }
    .dialogOverlay[topmost="true"] {
        background-color: var(--background-color) !important;
    }
    dialog {
        background: transparent !important;
    }
    .dialogBox {
        background: var(--background-color) !important;
        border: none !important;
        border-radius: 0px !important;
        color: var(--foreground-color) !important;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5) !important;
    }
    .dialogFrame {
        background: var(--background-color) !important;
        border: none !important;
        border-radius: 0px !important;
        color: var(--foreground-color) !important;
    }
    .previewStack {
        background: transparent !important;
    }
    listheader {
        border-bottom: 0px !important;
    }
    richlistbox {
        border: none !important;
    }
    .menulist-label-box {
        border: none !important;
    }
    resizer {
        display: none !important;
    }
    .groove {
        border: none !important;
    }
    .groupbox-title {
        background: transparent !important;
        border-bottom: 0px !important;
        padding: 0px !important;
    }
    .prefpane {
        background: black !important;
        color: white !important;
    }
    separator.groove:not([orient="vertical"]) {
        border-top: 0px !important;
    }
    .advanced-panel {
        background-color: black !important;
        border: none !important;
    }
    .windowDialog {
        color: white !important;
    }
    .list>scrollbox>.scrollbox-innerbox {
        border: none !important;
    }
    window {
        background: var(--background-color) !important;
        color: var(--foreground-color) !important;
    }
    .sidebar-footer-button>.text-link {
        height: 40px !important;
        margin-inline-start: 0px !important;
        padding-left: 14px !important;
        color: var(--foreground-color) !important;
    }
    .sidebar-footer-button>.text-link:hover {
        border-radius: 0px !important;
        color: var(--foreground-color) !important;
    }
    .sidebar-footer-button {
        padding: 0px !important;
    }
    .sidebar-footer-button>.text-link>hbox {
        margin-top: 10px !important;
    }
    .sidebar-footer-button:last-of-type {
        margin-bottom: 8px !important;
    }
    .sidebar-footer-label {
        font-size: 13px !important;
        margin: 0px !important;
        padding-left: 10px !important;
        line-height: 1.4em !important;
        padding-bottom: 1px !important;
    }
    .sidebar-footer-icon {
        height: 18px !important;
        width: 18px !important;
        margin: 0px !important;
        fill: var(--foreground-color) !important;
    }
    .sidebar-footer-link {
        padding-left: 14px !important;
        height: 40px !important;
        border-radius: 0px !important;
        fill: var(--foreground-color) !important;
        color: var(--foreground-color) !important;
        background-position-x: 14px !important;
        background-position-y: 11px !important;
        background-size: 18px !important;
    }
    .sidebar-footer-link:hover, .sidebar-footer-label {
        color: var(--foreground-color) !important;
    }
    .sidebar-footer-link-text {
        color: var(--foreground-color) !important;
        padding-bottom: 1px !important;
    }
    .sidebar-footer-list {
        margin-left: 0px !important;
        margin-bottom: 8px !important;
    }
    .message-bar {
        background: transparent !important;
        color: white !important;
    }
    /* Font Fixes */
    textbox {
        font-size: 12px !important;
    }
    .anonymous-div {
        line-height: inherit !important;
    }
    /* Listbox */
    listbox {
        -moz-appearance: none !important;
        background: var(--background-color) !important;
        border: 1px #333333 solid !important;
    }
    listitem {
        margin: 0px !important;
        padding: 1px !important;
        border: none !important;
        color: white !important;
    }
    listitem:hover {
        background: #202020 !important;
    }
    listitem[selected="true"] {
        background: #404040 !important;
    }
    dropmarker {
        -moz-appearance: none !important;
        margin-right: 0px !important;
        padding-right: 20px !important;
        list-style-image: none !important;
        background: var(--dropmarker) center center no-repeat !important;
    }
    dropmarker>.dropmarker-icon {
        list-style-image: none !important;
    }
    /* Number Input */
    input[type="number"]::-moz-number-spin-box {
        display: none !important;
    }
    a, label[href] {
        color: var(--foreground-color) !important;
    }
    a:hover, label[href]:hover, a:active, label[href]:active {
        color: var(--accent-color) !important;
    }
    a:visited, label[href]:visited {
        color: gray !important;
    }
    .toolbarbutton-text {
        color: inherit !important;
    }
    groupbox {
        -moz-appearance: none !important;
        border: none !important;
    }
    #placesView>splitter {
        border-inline-end: 1px solid var(--organizer-border-color) !important;
    }
    #detailsDeck {
        border-top: 1px solid rgb(40, 40, 40) !important;
    }
    .tree-splitter {
        width: 1px !important;
        max-width: 1px !important;
        -moz-appearance: none !important;
        border: 1px solid rgb(100, 100, 100) !important;
    }
    listheader {
        box-shadow: none !important;
        padding-bottom: 0px !important;
        border: none !important;
    }
    .treecol-image {
        padding: 5px 10px !important;
    }
    .tree-columnpicker-icon {
        filter: invert(1);
    }
    /* Richlist Stuff */
    richlistbox {
        -moz-appearance: none !important;
        background-color: transparent !important;
        border: none !important;
        border-radius: 0px !important;
    }
    richlistitem {
        background-color: transparent !important;
        color: var(--foreground-color) !important;
        border-radius: 0px !important;
    }
    richlistitem:hover {
        background-color: var(--richlistitem-hover) !important;
    }
    richlistitem:hover:active {
        background-color: var(--richlistitem-active) !important;
    }
    richlistitem[selected="true"] {
        background-image: none !important;
        background-clip: border-box !important;
        outline: none !important;
        background-color: var(--richlistitem-selected) !important;
    }
    richlistbox:-moz-focusring {
        border: none !important;
        box-shadow: none !important;
    }
    progressmeter, progress {
        -moz-appearance: none !important;
        border: none !important;
        background: var(--background-color) !important;
        height: 8px !important;
    }
    progressmeter>.progress-bar, progress::-moz-progress-bar {
        background-color: var(--accent-color) !important;
        margin: 0px !important;
    }
    progressmeter[paused="true"]>.progress-bar, progress[paused]::-moz-progress-bar {
        background-color: GrayText !important;
    }
    progressmeter[mode="undetermined"]>.progress-bar, progress:not([value])::-moz-progress-bar {
        background-image: none !important;
        animation: none !important;
    }
    progressmeter>.progress-remainder {
        border: none !important;
        background: #333333 !important;
    }
    /* Customization Page */
    #customization-content-container {
        background-color: var(--background-color) !important;
    }
    #customization-footer {
        border-top: none !important;
        background-color: var(--background-color) !important;
    }
    .customizationmode-button {
        border-radius: 0px !important;
    }
    .mainContainer, .tabmodalprompt-mainContainer {
        color: white !important;
        background-color: black !important;
        border-radius: 0px !important;
        border: 1px solid var(--accent-color) !important;
        animation: fadeInScale .3s;
    }
    /* Permissions */
    .identity-popup-permission-remove-button:not(:-moz-focusring):hover>.button-box>.button-icon {
        fill: currentColor !important;
    }
    .identity-popup-expander {
        border: none !important;
        background: url("chrome://global/skin/icons/arrow-left.svg") center no-repeat !important;
    }
    .identity-popup-expander:hover, .identity-popup-expander[open] {
        border: none !important;
    }
    .identity-popup-expander:hover:active {
        border: none !important;
        fill: currentColor !important;
        background: url("chrome://global/skin/icons/arrow-left.svg") center no-repeat !important;
        background-color: var(--arrowpanel-dimmed-further) !important;
    }
    .external {
        color: var(--accent-color) !important;
    }
    .external::after {
        fill: var(--accent-color) !important;
    }
}