[user]
        email = 97828377+tiandaoburen@users.noreply.github.com
        name = tiandaoburen
        signingkey = B358AD4944842451
[commit]
        gpgsign = true
[push]
        default = current