:root {
    --accent-color: #c50ed2;
}

.Tab[data-active] {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--accent-color);
}

.fav * {
    background-color: var(--accent-color);
    border-radius: 16px;
    fill: white;
}

.Tab:hover .fav, .Tab:hover .title {
    opacity: 1 !important;
    color: white;
}