* {
    scrollbar-color: #c50ed2 #000000 !important;
    scrollbar-width: thin !important;
}

:root {
    --text-color: white !important;
    --bg-color: black !important;
    --accent-color: #c50ed2 !important;
    --sidebar-text-color: white !important;
    --in-content-page-background: black !important;
    --in-content-box-background: black !important;
    --in-content-border-color: rgba(249, 249, 250, 0.7) !important;
    --in-content-box-border-color: rgba(249, 249, 250, 0.7) !important;
    --in-content-border-active: #c50ed2 !important;
    --border-color: var(--accent-color) !important;
    --box-background: var(--bg-color) !important;
    --box-border-color: white !important;
    --category-background-hover: rgba(12, 12, 13, 0.1) !important;
    --category-text: white !important;
    --category-text-selected: #0a84ff !important;
    --link-color: #0a8dff !important;
    --link-color-active: #003eaa !important;
    --link-color-hover: #0060df !important;
    --success-background: #30e60b !important;
    --warning-background: #fffbd6 !important;
    --warning-border: white !important;
    --error-background: var(--bg-color) !important;
    --error-border: white !important;
    --theme-focus-border-color-textbox: #0675d3 !important;
    --theme-textbox-box-shadow: rgba(97, 181, 255, 0.75) !important;
    --theme-focus-outline: 1px dotted var(--theme-focus-outline-color) !important;
    --theme-focus-box-shadow-textbox: 0 0 0 1px var(--theme-textbox-box-shadow) !important;
}

::-moz-selection, ::selection {
    color: white !important;
    background: #c50ed2 !important;
}

:focus {
    outline: none;
}

@-moz-document url-prefix("about:"), url-prefix("chrome:") {
    input[type="text"] {
        border: 1px solid var(--accent-color) !important;
    }
    .card {
        background-color: black !important;
        border: 1px solid var(--accent-color) !important;
        border-radius: 1rem !important;
    }
    .connect-page__breather img, .icon-label__icon {
        filter: invert(100);
    }
    button {
        color: white !important;
        border: 1px solid var(--accent-color) !important;
    }
}

@-moz-document url("about:home"), url("about:blank"), url("about:newtab"), url("about:privatebrowsing") {
    body {
        background-color: black !important;
    }
}

@-moz-document url("https://www.reddit.com/") {
    ._1BFbVxT49QnrAN3fqGZ1z8._1tvThPWQpORoc2taKebHxs, ._2IHh1GBfUxJVQQX0dJvAry, #COIN_PURCHASE_DROPDOWN_ID *, #POPUP_CONTAINER {
        display: none !important;
        visibility: collapse !important;
    }
    ._1OVBBWLtHoSPfGCRaPzpTf._3nSp9cdBpqL13CqjdMr2L_ {
        width: 100% !important;
        max-width: 100% !important;
    }
}