:root {
    --accent-color: #c50ed2;
    --bg-color: black;
    --text-color: white;
    --sidebar-width: 6px;
    --sidebar-hover-width: 300px;
    /**/
    --toolbar-bgcolor: var(--bg-color) !important;
    --toolbar-color: var(--text-color) !important;
    --toolbar-field-focus-border-color: var(--accent-color) !important;
    --toolbarseparator-color: var(--accent-color) !important;
    --toolbar-field-color: var(--text-color) !important;
    --lwt-toolbar-field-background-color: var(--bg-color) !important;
    --lwt-toolbar-field-focus: var(--bg-color) !important;
    --lwt-toolbarbutton-active-background: var(--bg-color) !important;
    --autocomplete-popup-highlight-background: var(--accent-color) !important;
    --autocomplete-popup-highlight-color: var(--text-color) !important;
    --toolbarbutton-icon-fill-attention: var(--accent-color) !important;
    --lwt-toolbarbutton-icon-fill-attention: var(--accent-color) !important;
    --urlbar-separator-color: var(--bg-color) !important;
    --tabs-border-color: var(--bg-color) !important;
    --arrowpanel-background: var(--bg-color) !important;
    --arrowpanel-color: var(--text-color) !important;
    --lwt-text-color: var(--text-color) !important;
    --urlbar-popup-url-color: var(--accent-color) !important
}

::-moz-selection, ::selection {
    color: white !important;
    background: #c50ed2 !important;
}

/* general modifications */

.urlbarView-row {
    fill: var(--accent-color) !important;
}

#titlebar, #TabsToolbar, #sidebar-header, .sidebar-splitter, #back-button, #forward-button, #reload-button, #home-button {
    visibility: collapse;
}

#nav-bar {
    margin-top: -19px !important;
}

#navigator-toolbox:hover>#nav-bar, #nav-bar:focus-within {
    margin-top: 9px !important;
}

#sidebar-box {
    position: relative;
    z-index: 1;
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
}

#sidebar {
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width);
}

#sidebar-box[sidebarcommand="viewBookmarksSidebar"]>#sidebar, #sidebar-box[sidebarcommand="viewHistorySidebar"]>#sidebar, #sidebar-box:hover>#sidebar {
    min-width: var(--sidebar-hover-width) !important;
}

.sidebar-panel * {
    appearance: none !important;
    background-color: var(--bg-color) !important;
    color: white !important;
}

/* context menu */

menupopup {
    -moz-appearance: none !important;
    background-color: var(--bg-color) !important;
    border: 1px var(--accent-color) solid !important;
    border-radius: 1rem !important;
    padding: 8px !important;
}

menuseparator {
    -moz-appearance: none !important;
    border: none !important;
    background-color: black !important;
}

menuitem, menu {
    -moz-appearance: none !important;
    color: white !important;
}

menuitem[disabled="true"], menuitem[disabled="true"]>.menu-text {
    color: gray !important;
}

menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"] {
    -moz-appearance: none !important;
    background-color: var(--accent-color) !important;
}

menugroup {
    background-color: transparent !important;
}

menuitem>.menu-text, menuitem>.menu-iconic-text {
    color: white !important;
}

menuitem[checked="true"][type="checkbox"]>.menu-iconic-left {
    border: solid var(--accent-color);
    transform: rotate(-45deg) scale(.75);
}

menuitem[checked="true"][type="radio"]>.menu-iconic-left {
    border: solid var(--accent-color);
    border-radius: 100%;
    background: var(--bg-color);
    transform: scale(.5);
}

menucaption {
    background-color: transparent !important;
    color: white !important;
}

#ContentSelectDropdown>menupopup {
    background-image: none !important;
}

menulist {
    -moz-appearance: none !important;
    border: 1px solid var(--accent-color) !important;
    background-color: transparent !important;
}

menulist:hover {
    border: 1px solid var(--accent-color) !important;
    background-color: transparent !important;
}

menulist[open="true"] {
    border: 1px solid var(--accent-color) !important;
    background-color: var(--accent-color) !important;
}

.menu-iconic-left {
    -moz-appearance: none !important;
}

.menu-right {
    -moz-appearance: none !important;
    color: white !important;
    border: solid var(--accent-color);
    transform: rotate(-45deg) scale(.55);
}

tooltip {
    -moz-appearance: none !important;
    color: var(--text-color) !important;
    background-color: var(--bg-color) !important;
    border: 1px solid var(--accent-color) !important;
}

#bookmarks-menu-button .menu-right {
    -moz-appearance: unset !important;
    border-width: unset !important;
    border: unset !important;
    transform: none !important;
}