@-moz-document url("about:home"), url("about:blank"), url("about:newtab"), url("about:privatebrowsing"){
    body {
        background-color: black !important;
    }
    button {
        visibility: collapse !important;
    }
}


:root {
    --in-content-page-background: black !important;
    --in-content-box-background: black !important;
    --in-content-border-color: rgba(249,249,250,0.7) !important;
    --in-content-box-border-color: rgba(249,249,250,0.7) !important;
    --in-content-border-active: #c50ed2 !important;
}

::-moz-selection, ::selection {
    color: white !important;
    background: #c50ed2 !important;
}

