:root {
    --accent-color: #c50ed2 !important;
    --bg-color: black !important;
    --text-color: white !important;
}

* {
    scrollbar-color: var(--accent-color) var(--bg-color) !important;
    scrollbar-width: thin !important;
}

::-moz-selection, ::selection {
    color: white !important;
    background: #c50ed2 !important;
}

:focus {
    outline: none !important;
}

@-moz-document url-prefix("about:"), url-prefix("chrome:") {
    :root {
        --sidebar-text-color: var(--text-color) !important;
        --category-text: var(--text-color) !important;
        --category-text-selected: var(--accent-color) !important;
        --in-content-page-background: var(--bg-color) !important;
        --in-content-box-background: var(--bg-color) !important;
        --in-content-border-color: rgba(249, 249, 250, 0.7) !important;
        --in-content-box-border-color: rgba(249, 249, 250, 0.7) !important;
        --in-content-border-active: var(--accent-color) !important;
        --in-content-category-text-selected: var(--accent-color) !important;
        --in-content-category-text-selected-active: var(--accent-color) !important;
        --in-content-link-color: var(--accent-color) !important;
        --in-content-link-color-hover: var(--accent-color) !important;
        --border-color: var(--accent-color) !important;
        --box-background: var(--bg-color) !important;
        --box-border-color: var(--text-color) !important;
        --sidebar-text-color: var(--text-color) !important;
        --link-color-hover: var(--accent-color) !important;
        --link-color: var(--accent-color) !important;
    }
    input[type="text"] {
        border: 1px solid var(--accent-color) !important;
    }
    .checkbox-check, .radio-check {
        background-color: var(--bg-color) !important;
    }
    .checkbox-check[checked="true"], .radio-check[selected="true"] {
        background-color: var(--accent-color) !important;
    }
    .selected {
        border: 1px solid var(--accent-color) !important;
    }
    .card {
        background-color: black !important;
        border: 1px solid var(--accent-color) !important;
        border-radius: 1rem !important;
    }
    .connect-page__breather img, .icon-label__icon {
        filter: invert(100);
    }
    button {
        color: white !important;
        border: 1px solid var(--accent-color) !important;
    }
}

@-moz-document url-prefix("moz-extension://e687cf7f-57c5-4ebe-92e7-eefea85d672a/") {
    #root {
        --bg: var(--bg-color) !important;
        --inactive-fg: var(--text-color) !important;
        --active-fg: var(--accent-color) !important;
        --info-fg: var(--accent-color) !important;
        --favicons-placeholder-bg: var(--text-color) !important;
        --tabs-activated-bg: var(--accent-color) !important;
        --tabs-border: 1px solid var(--accent-color) !important;
    }
    .Tab {
        outline: 1px solid var(--accent-color) !important;
    }
    .fav {
        background-color: var(--accent-color) !important;
        border-radius: 100% !important;
    }
    .Tab:hover .fav, .Tab:hover .title {
        opacity: 1 !important;
        color: white !important;
    }
}

@-moz-document domain("reddit.com") {
    ._1BFbVxT49QnrAN3fqGZ1z8._1tvThPWQpORoc2taKebHxs, ._2IHh1GBfUxJVQQX0dJvAry, #COIN_PURCHASE_DROPDOWN_ID *, #POPUP_CONTAINER, .kEQVd8aneM1tVkcIKUyDT {
        display: none !important;
        visibility: collapse !important;
    }
    ._1vyLCp-v-tE5QvZovwrASa>* {
        width: 100% !important;
        max-width: 100% !important;
    }
    header>* {
        visibility: collapse;
    }
    header:hover>* {
        visibility: visible;
    }
}

@-moz-document domain("addons.mozilla.org") {
    .Page-content, input[type="search"] {
        background-color: black !important;
    }
}