/* context menu variables */

:root {
    --context-background: black;
    --context-background-blur: black;
    --context-border: #1C1C1C;
    --context-separator: #c50ed2;
    --context-menuitem-hover: #404040;
    --context-menuitem-active: #555555;
    --context-menuitem-open: rgb(80, 80, 80);
    --context-menuitem-open-image: linear-gradient(var(--accent-color), var(--accent-color));
    --context-tooltip: black;
    --context-tooltip-border: #1C1C1C;
    --context-menubar-hover: #191919;
    --context-menubar-open: #353535;
    --context-menulist-open: #333333;
    --context-menulist-open-border: #666666;
}