@-moz-document url-prefix("chrome:"), url-prefix("about:") {
    :root {
        --bg-color: var(--background-color) !important;
        --text-color: var(--foreground-color) !important;
        --link-color: var(--foreground-color) !important;
        --link-color-hover: var(--accent-color) !important;
        --in-content-page-color: white !important;
        --in-content-page-background: var(--background-color) !important;
        --in-content-text-color: lightgray !important;
        --in-content-selected-text: #fff;
        --in-content-box-background: var(--background-color) !important;
        --in-content-box-background-odd: #f3f6fa;
        --in-content-box-background-hover: #ebebeb;
        --in-content-box-background-active: #dadada;
        --in-content-box-border-color: transparent !important;
        --in-content-item-hover: #191919 !important;
        --in-content-item-selected: #0a84ff;
        --in-content-border-highlight: var(--uwp-accent-color) !important;
        --in-content-border-focus: #0a84ff;
        --in-content-border-color: #282828 !important;
        --in-content-category-outline-focus: 1px dotted #0a84ff;
        --in-content-category-text: var(--foreground-color) !important;
        --in-content-category-text-active: white !important;
        --in-content-category-text-selected: white !important;
        --in-content-category-text-selected-active: white !important;
        --in-content-category-background-hover: #353535 !important;
        --in-content-category-background-active: #4C4C4C !important;
        --in-content-category-background-selected-hover: #353535 !important;
        --in-content-category-background-selected-active: #4C4C4C !important;
        --in-content-tab-color: #424f5a;
        --in-content-link-color: var(--uwp-accent-color) !important;
        --in-content-link-color-hover: #999999 !important;
        --in-content-link-color-active: #666666 !important;
        --in-content-link-color-visited: #0a8dff;
        --in-content-primary-button-background: #0a84ff;
        --in-content-primary-button-background-hover: #0060df;
        --in-content-primary-button-background-active: #003EAA;
        --in-content-table-background: black !important;
        --in-content-table-border-dark-color: #282828 !important;
        --in-content-table-header-background: var(--uwp-accent-color) !important;
        --card-shadow: none !important;
        --card-shadow-hover: none !important;
        --card-shadow-focus: none !important;
        --grey-20: #ededf0;
        --grey-90: #0c0c0d;
        --grey-90-a10: rgba(12, 12, 13, 0.1);
        --grey-90-a20: rgba(12, 12, 13, 0.2);
        --grey-90-a30: rgba(12, 12, 13, 0.3);
        --exception-button-container-background: black !important;
        --pages-sidepanel: #1F1F1F;
        --button: #333333;
        --button-hover: #858585;
        --button-hover-active: #666666;
        --button-color: var(--foreground-color);
        --button-disabled-text: #858585;
        --button-accent: linear-gradient(var(--accent-color), var(--accent-color));
        --button-accent-mod: #D0D0D0;
        --textbox: var(--background-color);
        --textbox-border: #666666;
        --textbox-color: var(--foreground-color);
        --textbox-hover: #999999;
        --checkbox: var(--accent-color-2);
        --checkbox-checked-hover: var(--foreground-color);
        --checkbox-checked-active: var(--accent-color);
        --checkbox-disabled: #666666;
        --toggle-checked: var(--accent-color);
        --radio-border: var(--accent-color-2);
        --radio-border-hover: var(--foreground-color);
        --radio-border-active: var(--accent-color);
        --richlistitem-hover: var(--textbox-hover);
        --richlistitem-active: var(--accent-color);
        --richlistitem-selected: var(--accent-color);
        --treecol: var(--background-color);
        --treecol-hover: #282828;
        --treecol-selected: #3C3C3C;
        --treechildren-row-hover: #323232;
        --treechildren-row-selected: #3C3C3C;
        --progressbar: #333333;
        --header-background: var(--background-color);
        --dialog-background-blur: #101010D0;
        --dropmarker: url(../img/arrowdown.png);
    }
    body {
        --newtab-background-color: black !important;
        --newtab-snippets-background-color: black !important;
        --newtab-textbox-focus-color: var(--accent-color) !important;
        --newtab-link-primary-color: var(--accent-color) !important;
        --newtab-card-background-color: black !important;
        --newtab-card-shadow: none !important;
        --newtab-search-header-background-color: black !important;
        --newtab-topsites-icon-shadow: none !important;
    }
    #toolbox-container {
        --theme-body-background: var(--background-color) !important;
        --theme-body-emphasized-background: var(--accent-color-2) !important;
        --theme-sidebar-background: var(--background-color) !important;
        --theme-tab-toolbar-background: var(--background-color) !important;
        --theme-toolbar-background: var(--background-color) !important;
        --theme-toolbar-color: var(--grey-40) !important;
        --theme-toolbar-selected-color: white !important;
        --theme-toolbar-highlighted-color: var(--green-50) !important;
        --theme-toolbar-background-hover: #232327 !important;
        --theme-toolbar-background-alt: var(--grey-85) !important;
        --theme-toolbar-hover: #232327 !important;
        --theme-toolbar-hover-active: #252526 !important;
        --theme-toolbar-separator: var(--accent-color) !important;
        --toolbarbutton-background: var(--background-color) !important;
        --toolbarbutton-hover-background: var(--grey-70) !important;
        --toolbarbutton-focus-background: var(--grey-60) !important;
        --toolbarbutton-focus-color: var(--grey-30) !important;
        --toolbarbutton-checked-background: #204e8a !important;
        --toolbarbutton-checked-focus-background: var(--blue-60) !important;
        --toolbarbutton-checked-color: #ffffff !important;
        --theme-button-background: rgba(249, 249, 250, 0.1) !important;
        --theme-button-active-background: rgba(249, 249, 250, 0.15) !important;
        --theme-accordion-header-background: #232327 !important;
        --theme-accordion-header-hover: #2a2a2e !important;
        --theme-selection-background: var(--accent-color) !important;
        --theme-selection-background-hover: #353b48 !important;
        --theme-selection-focus-background: var(--grey-60) !important;
        --theme-selection-color: #ffffff !important;
        --theme-splitter-color: var(--background-color) !important;
        --theme-emphasized-splitter-color: var(--accent-color) !important;
        --theme-emphasized-splitter-color-hover: var(--foreground-color) !important;
        --theme-icon-color: rgba(249, 249, 250, 0.7) !important;
        --theme-icon-dimmed-color: rgba(147, 147, 149, 0.9) !important;
        --theme-icon-checked-color: var(--blue-30) !important;
        --theme-icon-error-color: var(--red-40) !important;
        --theme-icon-warning-color: var(--yellow-60) !important;
        --theme-comment: var(--grey-45) !important;
        --theme-body-color: var(--background-color) !important;
        --theme-text-color-alt: var(--grey-45) !important;
        --theme-text-color-inactive: var(--grey-50) !important;
        --theme-text-color-strong: var(--grey-30) !important;
        --theme-stack-trace-text: var(--red-50) !important;
        --theme-focus-outline-color: #ced3d9 !important;
        --theme-popup-background: var(--grey-60) !important;
        --theme-popup-color: rgb(249, 249, 250) !important;
        --theme-popup-border-color: #27272b !important;
        --theme-popup-dimmed: rgba(249, 249, 250, 0.1) !important;
        --theme-toolbarbutton-background: var(--background-color) !important;
        --theme-toolbarbutton-color: var(--grey-40) !important;
        --theme-toolbarbutton-hover-background: var(--grey-10-a15) !important;
        --theme-toolbarbutton-checked-background: var(--grey-10-a20) !important;
        --theme-toolbarbutton-checked-color: var(--grey-30) !important;
        --theme-toolbarbutton-checked-hover-background: var(--grey-10-a25) !important;
        --theme-toolbarbutton-checked-hover-color: var(--grey-30) !important;
        --theme-toolbarbutton-active-background: var(--grey-10-a30) !important;
        --theme-toolbarbutton-active-color: var(--grey-30) !important;
        --theme-warning-background: hsl(42, 37%, 19%) !important;
        --theme-warning-border: hsl(60, 30%, 26%) !important;
        --theme-warning-color: hsl(43, 94%, 81%) !important;
        --theme-contrast-background: var(--background-color) !important;
        --theme-contrast-background-alpha: rgba(255, 233, 0, 0.15) !important;
        --theme-contrast-color: white !important;
        --theme-contrast-border: var(--yellow-65) !important;
    }
}