:root {
    --accent-color: #c50ed2;
    --background-color: black;
    --foreground-color: white;
    --tags-button: #333333;
    --tags-button-hover: #858585;
    --tags-button-hover-active: #666666;
    --tags-button-color: var(--foreground-color);
    --tags-button-disabled-text: #858585;
    --tags-button-accent: linear-gradient(var(--accent-color), var(--accent-color));
    --tags-button-accent-mod: #D0D0D0;
    --tags-textbox: black;
    --tags-textbox-border: #666666;
    --tags-textbox-color: var(--foreground-color);
    --tags-textbox-hover: #999999;
    --tags-checkbox: #CCCCCC;
    --tags-checkbox-checked-hover: #FFFFFF;
    --tags-checkbox-checked-active: #999999;
    --tags-checkbox-disabled: #666666;
    --tags-toggle-checked: white;
    --tags-radio-border: #CCCCCC;
    --tags-radio-border-hover: #FFFFFF;
    --tags-radio-border-active: #999999;
    --tags-richlistitem-hover: #191919;
    --tags-richlistitem-active: #333333;
    --tags-richlistitem-selected: #171717;
    --tags-treecol: #191919;
    --tags-treecol-hover: #282828;
    --tags-treecol-selected: #3C3C3C;
    --tags-treechildren-row-hover: #323232;
    --tags-treechildren-row-selected: #3C3C3C;
    --tags-progressbar: #333333;
    --header-background: #1F1F1F;
    --dialog-background-blur: #101010D0;
    --dropmarker: url(../img/arrowdown.png);
}